.header{
    color: white;
    height: 60px;
    
}

.header img{
    height: 50px;
}

.header li{
    margin-left: 20px;
    color: black;
}

.header a{
    color: black;
    text-decoration: none;
    
}