.breakfast{
    margin-top: 30px;
    margin-right: 50px;
    margin-left: 50px;
}

.reviewOrderBtn{
    background-color: crimson;
    color: white;
    width: 150px;
    height: 40px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 30px;
    
  
}

.reviewOrderBtnDisabled{
    background-color: grey;
    color: white;
    width: 150px;
    height: 40px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 30px;
    
  
}

.reviewOrderBtn:hover{
    background-color: rgb(165, 14, 44);
}

.wrap{
    display: flex;
    justify-content: center;
}

.menu-section{
    display: flex;
    justify-content: center;
    font-size: larger;
    font-weight: bolder;
    
}

.menu-section p{
    margin-right: 30px;
    padding: 5px 8px;
}

.menu-section p:hover{
    background-color: crimson;
    cursor: pointer;
    border-radius: 5px;
    color: white;    
}